[phases.setup]
aptPkgs = ["fontconfig"]
nixPkgs = ["bun", "nodejs_22", "python3", "gcc", "gnumake"]

[phases.install]
cmds = ["bun install --frozen-lockfile"]

[phases.build]
cmds = ["bun run build"]

[start]
cmd = "bun run start"
